<h3 class="center"> Add Answers </h3>
<h2 class="center"> <%= @question.content%> </h2>
<div class=" col-md-4 col-md-offset-4 col-xs-3">
  <%= form_tag("/questions/#{@question.id}/add_answers", method: "post") do %>
    
      <% @question.answers.each do |answer|%>
        <div class="form-group ">
          <input type="text" name="question[answers][<%=answer.id%>]" value="" class= 'form-control'>
        </div>
      <%end%> 
    
    <div class="form-group center">
      <%= submit_tag "Add Answers", class: 'btn btn-primary' %>
    </div>
  <%end%>
</div>

