<div class="center hero-unit">
  <h1>Welcome to AnswerMe</h1>
  <br/>
  <h4 class="center"> Create your survey here. <br/><br/> Ask and there will be answers :) </h4>
  
  <%= link_to "Sign up now!", '#', class: "btn btn-large" %>
</div>
