<div class="center hero-unit">
  <h1>Welcome to AnswerMe</h1>
  <br/>
</div>

  <% if user_signed_in? %>
    <% if @surveys %>
      <ul>
      <% @surveys.each do |survey|%>
        <li><%= link_to survey.title, survey_path(survey)%></li>
      <%end%>
      </ul>
    <%end%>
    <div class="center hero-unit">
      <h4 class="center"> Create a new survey here. <br/> </h4>
      <%= link_to "Create Survey", new_survey_path, class: "btn btn-large btn-primary" %>
    </div>
  <% else %>
    <div class="center hero-unit">
      <h4 class="center"> Sign in to start creating surveys <br/></h4>
      <%= link_to "Sign in", new_user_session_path, class: "btn btn-large btn-success" %>
      <h4 class="center"> Don't have an account? <br/></h4>
      <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-large btn-primary" %>
    </div>
  <% end %>

