<div class="center hero-unit">
  <h1>Welcome to AnswerMe</h1>
  <br/>
  <h4 class="center"> Create your survey here. <br/><br/> Ask and there will be answers :) </h4>

  <% if user_signed_in? %>
    <%= link_to "Create Survey", '#', class: "btn btn-large btn-primary" %>
  <% else %>
    <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-large btn-primary" %>
  <% end %>
</div>
