<tr>
  <td class="col-md-1"><%=filled_survey.id%></td>
  <td class="col-md-6"><ul>
    <% filled_survey.survey_answers.each do |answer|%>
      <li><%=answer.question.content%></li>
    <%end%>
  </ul></td>

  <td class="col-md-6"><ul>
    <% filled_survey.survey_answers.each do |sa|%>
      <% if sa.question.answer_type == 'text' or sa.answer.nil? %>
        <li><%=sa.content%></li>
      <%else%>
        <li><%=sa.answer.content%></li>
      <%end%>
    <%end%>
  </ul></td>
</tr>