<h3 class="center"> Create a Survey </h3>
<div class=" col-md-4 col-md-offset-4 col-xs-3">
  <%= form_for(@survey) do |f| %>
    <div class="form-group">
      <%= f.label :title %><br />
      <%= f.text_field :title, autofocus: true, class: 'form-control' %>
    </div>
    
    <div class="form-group center">
      <%= f.submit "Update", class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>